@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
.myTitle{
    font-family: 'Handlee', cursive;
    color: rgba(255, 0, 0, 0.685);
    font-size: 60px;
    text-align: center;
    margin-top: 35px;
}


.myCol{
    font-family: 'Handlee', cursive;
}
.myInput{
    margin-left: 30%;
}
.myButton{
    margin-left: 42%;
    margin-top: 1%;
}